@font-face {
    font-family: "Poppins-Bold";
    src: local("Poppins-Bold"), url(assets/fonts/Poppins-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "NotoSansJP-Regular";
    src: local("NotoSansJP-Regular"), url(assets/fonts/NotoSansJP-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Noto-Black";
    src: local("Noto-Black"), url(assets/fonts/NotoSansJP-Black.ttf) format("truetype");
}

@font-face {
    font-family: "NovaSquare-Regular";
    src: local("NovaSquare-Regular"), url(assets/fonts/NovaSquare-Regular.ttf) format("truetype");
}

@font-face {
    font-family: 'Poppins-Regular';
    src: local('Poppins-Regular'), url(assets/fonts/Poppins-Regular.ttf);
}

body {
    background-color: #1b1b1b;
    color: #ffffff;
    font-size: 14px;
    line-height: 1.42857;
}